body {
    margin: 0;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-image: url('../Image/background.jpg');
}
ul {
    list-style: none;
}
ul li {
    display: inline-block;
    padding: 10px 15px;
}
nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 19px;
    padding: 15px 20px;
    border-radius: 8px;
}
nav a:hover {
    background-color: #ecf0f1;
    color: #2c3e50;
}
nav a.active {
    background:yellow;
    color: black;
}
#main-menu {
    position: fixed;
    text-align: center;
    margin-left: 35px;
}



#section1 {
    background-size: cover;
    height: 100vh;
    background-position: center;
    align-items: center;
}

#section2 {
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#section3 {
    background-size: cover;
    height: 100vh;
    background-position: center;
}


section {
    margin: 0;
    padding: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}   
    

    

#contact-wechat-image{
    margin: auto;
    width: 25ch;
    right: 25%;
    cursor: pointer;
}

#HZX{
    width: 50vmin;
    height: 50vmin;
    object-fit: cover;
}

#HZX-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-evenly;
}



h1{
    color: #fff;
    font-size: 8vh;
    margin: 0;
    padding: 0;
}
p{
    color: #fff;
    font-size: 4vh;
    margin: 0;
    padding: 0;
    width: 60%;
    text-align: center;
}
